@charset "utf-8";
/*style and arrange the size of the division created*/
/*set the main container to 80% and center*/

{
width:100%;
float:left;
}
#kotak2
{
width:100%;
float:auto;
}
/*set kotak 3 with 50% on the left side*/
#kotak3
{
width:50%;
float:left;
}
#kotak4
{
width:48%;
}Document */	

